div.container {
    position: relative;
    -webkit-animation-name: transition;
    -webkit-animation-duration: 0.5s;
    animation-name: transition;
    animation-duration: 0.75s;
}

@keyframes transition {
    0% {
        opacity: 0;
        left: -100px;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}

@media screen and (min-width: 750px) {
    #portfolio_picture {
        width: 350px;
    }
}

@media screen and (max-width: 750px) {
    #portfolio_picture {
        width: 250px;
    }
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: white;
    margin-right: 0.5rem;
}

.card {
    background-color: #1e434a;
    border-color: #268bd2;
    margin-top: 15px;
}

.project_title {
    padding-bottom: 10px;
}

.description_container {
    padding-top: 15px;
}

#portfolio_picture {
    border-style: solid;
    border-color: #268bd2;
    border-width: 1px;
    border-radius: 5%;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
